.card {
  display: flex;
  align-items: stretch;
  height: 200px;
  margin-top: 20px;
  margin-left:40px;
  margin-right:40px;
  font-size:15pt;
  background-color:#BED1C0;
}

.card-text {
  margin-left: 20px;
}

.card-text p {
    margin: 0px;
}

.card img {
    height: 100%;
}

#proceed-order-button-box {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
