.container-info {
    display: flex;
    width: 100%;
    flex-warp:wrap;
    justify-content: space-around;

}

.left-container-info {
    margin-left: 40px;
    float: left;
    font-size:15pt;
}

.right-container-info img {
    height: 200px;
    float: right;
}

.container-google-api {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
