footer {
    background-color: gray;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: 80px; */
}

.footer-main {
	display: flex;
}

.container-logo {
    margin-top: 16px;
}

.bmf-element {
    list-style: none;
}

.bmf-second {
    margin-top: 25px;
}

.bmf-right {
    margin-left: 40px;
}

.container-links {
	display: flex;
	margin-left: auto;
}

.container-social {
    margin-left: auto;
    margin-right: 50px;
    width: 30%;
}

.container-copyright {
    display: flex;
}

.container-copyright-left {
    margin-left: 25px;
}

.container-copyright-right {
    margin-left: auto;
    margin-right: 50px;
    text-align: right;
}
.insta-icon{
    width: 40px;
    height:40px;
}
.vk-icon{
    width: 40px;
    height:23px;
}
.telegram-icon{
    width: 40px;
    height:40px;
}