footer {
    background-color: #f0e4c9;
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: 80px; */
}

.footer-main {
	display: flex;
	width: 70%;
}

.container-logo {
    margin-top: 16px;
}

.bmf-element {
    list-style: none;
}

.bmf-second {
    margin-top: 25px;
}

.bmf-right {
    margin-left: 40px;
}

.container-links {
	display: flex;
	margin-left: auto;
}

.container-social {
    margin-left: auto;
    width: 30%;
}

.container-copyright {
    display: flex;
    width: 70%;
}

.container-copyright-left {

}

.container-copyright-right {
    margin-left: auto;
    text-align: right;
}

.insta-icon {
    width: 40px;
    height: 40px;
}

.vk-icon {
    margin-left: 10px;
    width: 40px;
    height: 23px;
}

.telegram-icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
}