footer {
    background-color: gray;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

.footer-main {
	display: flex;
}

.container-links {
	display: flex;
}

.container-copyright {
    display: flex;
}

.container-copyright-right {
    margin-left: auto;
    text-align: right;
}