.bottom-menu {
	text-align: center;
	display: inline-block;
}

.bottom-menu-list {
    margin: auto;
    padding-top: 10px;
	display: table;

}

.bottom-menu-list li {
	display: inline-block;
    list-style: none;
	text-align: center;
	height: 30px;
    border-bottom: 2px solid gray;

}

.bottom-menu-list li a {
    color: white;
}
li:hover {
    /*outline: 0px solid #ccc;
    outline-offset: 10px;
    outline-color: grey;
    background: grey;*/
    border-bottom: 2px solid white;

}