.bottom-menu {
	text-align: center;
	display: inline-block;
}

.bottom-menu-list {
    margin: auto;
    padding-top: 10px;
	display: table;

}

.bottom-menu-list li {
	display: inline-block;
    list-style: none;
	text-align: center;
	height: 30px;
    /*border-bottom: 2px solid gray;*/

}

.bottom-menu-list li a {
    color: white;
}

li:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
     transition: width .5s ease-in-out;
     }
li:hover:after,li:focus:after {
width: 100%;
}