.bottom-menu {
	text-align: center;
	display: inline-block;


}

.bottom-menu-list {
    margin: auto;
    padding-top: 8px;
	padding-bottom: 8px;
}

.bottom-menu-list li {
	display: inline-block;
    list-style: none;
	text-align: center;
}

.bottom-menu-list li a {
    color: white;
}
