.menu-row {
    text-align: center;
}

.menu-card {
    display: inline-block;
    height: 100%;
    background: #ccddff;
}

.menu-card-bottom-area {
    background: #3434cb;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-card {
    height: 100%;
}

.menu-card-bottom-area a {
    color: white;
}

.menu-img {
    width: 100%;
    height: 200px;
}