.top-menu {
    background-color: #0779e4;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.logo-text {
    display: inline;
    font-size: 50pt;
    font-family: "Elephant";
}

.logo-img {
    height: 80px;
}

body {
    margin: 0px;
    padding: 0px;
    background: #D3D3D3;
    font-family: "Georgia";
}

.link-no-style {
    text-decoration: none;
	color: black;
}


/*
.bottom-menu-list li {
    display: inline-block;
}

.bottom-menu-list li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #cbc19e;
  background-color: #322918;
  width: calc();
  display: block;
}
*/

