.top-menu {
    width: 70%;
}

header {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #11213F;
    padding: 5px;
    text-align: center;
}

.logo-img {
    height: 80px;
    display: inline-block;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #D3D3D3;
    font-family: "Georgia";
    background-color: #f5f5f0;
}

.link-no-style {
    text-decoration: none;
	color: black;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.index-h1 {
    font-style: italic;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

