<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О нас</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_us.css') }}">
    {% include 'link_static.html' %}
    <script src="{{ url_for('static', filename='carousel.js') }}"></script>
</head>
<body>
{% include 'header.html' %}
<h1>О ресторане</h1>
 <div style="width:100%; height:1px; clear:both;"></div>
<div class="container">
    <h3><u>Кухня</u></h3>
    <div class="container-kitchen">


            <div class="container-img-kitchen">
                <img class="img-kitchen" src="{{ url_for('static', filename='kitchen.jpg') }}">
            </div>
             <div class="text-kitchen">
                 <p>Ресторан «Посейдон» — это врата в подводное царство, располагающее к полному погружению в эстетику
                     и богатство бескрайних вод. Ресторан "Посейдон" специализируется на разнообразных и порой,экзотических
                     морских блюдах.Мы, безусловно, удивим вас фантастически аппетитной подачей блюд и безупречным обслуживанием
                     от нашей профессиональной команды!
                     <br>
                     Но ценят наши блюда вряд ли только из-за полезности. Всё дело в особом вкусе,
                     который наш бренд-шеф старается передать в самом лучшем виде в процессе приготовления
                     блюда и изысканно украсить его.Наши повара знают, как правильно сохранить истинный вкус
                     главных составляющих в блюде — овощных или мясных, лишь аккуратно дополняя его вкусом специй.
                     Вместе с тем у нас готовят авторские блюда. Особые рецептуры нашего шеф-повара смогут удивить
                     и приятно порадовать даже самого избалованного посетителя. Мы открываем новые кулинарные решения!
                     <br>
                     Если вам важна эстетика, мы ждём вас в ресторане. Когда за окном тепло, гораздо приятнее бывать
                     в открытом пространстве. И не только чтобы погулять, но и пообедать или поужинать.
                     Специально для таких случаев у ресторана Посейдон есть своя терраса с приятным видом.
                     В нашем летнем кафе вас ждут свежеприготовленные блюда, напитки на любой вкус и музыкальное сопровождение.
                     У нас есть Wi-Fi, оказывают услуги по кейтерингу, производится доставка готовых блюд, доступны парковка
                     и банкетный зал — всё к вашим услугам.</p>
             </div>

    </div>
    <h3><u>Шеф-повар</u></h3>
    <div class="container-sheff">

        <div class="text-container">
                <p> Захар – потомственный шеф-повар и ресторатор.
                    В возрасте 15 лет Захар начал работать в семейном ресторане,
                    а в 18 лет уехал в США, где стал шеф-поваром в ресторанах Орландо и Майами.
                    Вернувшись в Россию, продолжил работать в Москве, разрабатывая новые меню.
                    Благодаря инновационным идеям Захара, множество ресторанов получило признание
                    как во многих отечественных, так и зарубежных СМИ. Две книги Захара, рассказывающие
                    его кулинарного пути были опубликованы в 2000 и 2008 годах. Захар сотрудничал с
                    ресторанами европейской кухни в Германии (Берлин), Нидерландах (Амстердам),
                    Франции (Ментон), где консультировал и обучал персонал особенностям,
                    традициям и структуре традиционной средиземноморской кухни.
                    Продолжая кулинарные исследования, Захар специализируется не только на традиционной
                    средиземноморской кухне, но и на молекулярной, авангардной и авторской, где он, играя
                    с консистенцией продуктов и привычных блюд, создает неподражаемые шедевры.
                    В 2019 году Захар Хабибулин стал шеф-поваром в ресторане "Посейдон"(Иркутск, Россия).
                    Самые популярные российские деловые издания отметили "Посейдон" как ресторан с наивысшим
                    выражением кулинарных традиций средиземноморской кухни.</p>
            </div>
            <div class="img-sheff">
               <img class="img-sheff" src="{{ url_for('static', filename='sheff.png') }}">
            </div>


    </div>
</div>
<div style="width:100%; height:1px; clear:both;"></div>
    <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade" style="display: block">
    <div class="numbertext">1 / 6</div>
         <img src="{{ url_for('static', filename='1.png') }}" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 6</div>
        <img src="{{ url_for('static', filename='2.png') }}" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 6</div>
        <img src="{{ url_for('static', filename='3.png') }}" style="width:100%">
    <div class="text">Caption Three</div>
  </div>
  <div class="mySlides fade">
    <div class="numbertext">4 / 6</div>
        <img src="{{ url_for('static', filename='4.png') }}" style="width:100%">
    <div class="text">Caption Three</div>
  </div>
    <div class="mySlides fade">
    <div class="numbertext">5 / 6</div>
        <img src="{{ url_for('static', filename='5.png') }}" style="width:100%">
    <div class="text">Caption Three</div>
  </div>
    <div class="mySlides fade">
    <div class="numbertext">6 / 6</div>
        <img src="{{ url_for('static', filename='6.png') }}" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev"  onclick="plusSlides(-1)">&#10094;</a>
  <a class="next"  onclick="plusSlides(1)">&#10095;</a>
</div>

<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot active" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
</div>




{% include 'footer.html' %}
</body>
</html>