<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contacts.css') }}">
    {% include 'link_static.html' %}
</head>
<body>
{% include 'header.html' %}

<h1>Как нас найти ?</h1>
<div class="container-info">
    <div class="left-container-info">
        <p>Контактный телефон: 8(395)243-66-05</p>
        <p>E-mail адрес: director@rextotanchikoff.com.</p>
        <p>Адрес: ул.Академика Халтурина,7,Иркутск.</p>
        <p>Часы работы 09:00 - 00:00.</p>
        <p>У нас всегда рады новым посетителям! </p>
    </div>
    <div class="right-container-info">
        <img src="{{ url_for('static', filename='compass.png') }}">
    </div>
</div>
    <div class="container-google-api" style="width: 100%; margin: 0px;">
        <iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.4327530439004!2d104.28571961594675!3d52.28999946100102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83b34604a149d%3A0x16c87f8f5247e094!2z0YPQuy4g0KXQsNC70YLRg9GA0LjQvdCwLCA3LCDQmNGA0LrRg9GC0YHQuiwg0JjRgNC60YPRgtGB0LrQsNGPINC-0LHQuy4sIDY2NDAxMQ!5e0!3m2!1sru!2sru!4v1589302076317!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div>

    </div>


{% include 'footer.html' %}
</body>
</html>