<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'link_static.html' %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
    <script src="{{ url_for('static', filename='events.js') }}"></script>
    <title>События</title>
</head>
<body>
{% include 'header.html' %}

<h1>События</h1>
<div class="events-body">
    <div class="event-card">
        <img src="{{ url_for('static', filename='ustritsa.png') }}" class="event-image">
            <h4>Устричный Фестиваль в ресторане «Посейдон» </h4>
            <p class="event-description"> с 10 мая по 30 июня
                Куда пойти поесть устриц в Иркутске? Конечно в ресторан «Посейдон»! Наши повара приготовят
                для вас изысканные блюда устричной кухни. Спешите, мероприятие продлится до 30 июня.

            </p>
            <a class="event-link" href="#">Подробнее</a>
    </div>
    <div class="event-card">
        <img src="{{ url_for('static', filename='big_pir.png') }}" class="event-image">
        <h4>Акция "Большой Пир" </h4>
            <p class="event-description">
                Всегда приятно,провести вечер в компании друзей и близких.
                А ещё лучше,если их у вас много! Приглашайте, своих друзей,
                близких и приятелей в наш ресторан. При заказе блюд на пять и более персон,
                получите скидку в 10% от итоговой цены.
            </p>
            <a class="event-link" href="#">Подробнее</a>
    </div>
    <div class="event-card">
        <img src="{{ url_for('static', filename='8leg.png') }}" class="event-image">
        <h4>Скидки на осьминогов.</h4>
            <p class="event-description">
                Спешите опробовать экзотическое мясо осьминога с изысканным вкусом от мастеров
                средиземноморской кухни по выгодной цене.
                С 15 Апреля по 15 Мая у вас есть возможность опробовать мясо осьминога со скидкой в 30%.
            </p>
            <a class="event-link" href="#">Подробнее</a>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>