<header>
    <div class="top-menu">
        <p class="logo-text">Poseidon</p>
        <img class="logo-img" src="{{ url_for('static', filename='trident.png') }}" alt="Trident">
    </div>
    <div class="bottom-menu">
        <ul class="bottom-menu-list">
            <li class="bm-element"><a href="/menu">Меню</a></li>
            <li class="bm-element"><a href="/events">События</a></li>
            <li class="bm-element"><a href="/contacts">Контакты</a></li>
            <li class="bm-element"><a href="/about-us">О ресторане</a></li>
            <li class="bm-element"><a href="/booking">Бронирование</a></li>
        </ul>
        <!--
        <table class="buttom-menu-table">
            <tr>
                <td><a href="/index">Главная</a></td>
                <td><a href="/menu">Меню</a></td>
                <td><a href="/contacts">Контакты</a></td>
                <td><a href="/about-us">О нас</a></td>
            </tr>
        </table>
        -->
    </div>
</header>