<header>
    <div class="top-menu">
        <a class="logo-text link-no-style" href="/index">Poseidon</a>
        <a href="/index"><img class="logo-img" src="{{ url_for('static', filename='trident.png') }}" alt="Trident"></a>
    </div>
    <div class="bottom-menu">
        <ul class="bottom-menu-list">
            <li class="bm-element"><a href="/menu" class="link-no-style">Меню ресторана</a></li>
            <li class="bm-element"><a href="/events" class="link-no-style">События</a></li>
            <li class="bm-element"><a href="/contacts" class="link-no-style">Контакты</a></li>
            <li class="bm-element"><a href="/about-us" class="link-no-style">О ресторане</a></li>
            <li class="bm-element"><a href="/booking" class="link-no-style">Бронирование</a></li>
        </ul>
        <!--
        <table class="buttom-menu-table">
            <tr>
                <td><a href="/index">Главная</a></td>
                <td><a href="/menu">Меню</a></td>
                <td><a href="/contacts">Контакты</a></td>
                <td><a href="/about-us">О нас</a></td>
            </tr>
        </table>
        -->
    </div>
</header>