<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ресторан морской кухни</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousel-index.css') }}">
    {% include 'link_static.html' %}
   <!-- <script src="{{ url_for('static', filename='index.js') }}"></script>-->
    <script src="{{ url_for('static', filename='carousel-auto.js') }}"></script>
</head>
<body>
{% include 'header.html' %}
        <h1 class="index-h1">Ресторан настоящей морской кухни в Иркутске</h1>
    <div class="main-text-container">

            <div class="container-text">
                <p>Рыбный ресторан средиземноморской кухни «Посейдон» порадует любителей морепродуктов и ценителей здорового питания большим выбором даров моря. Наш прилавок ресторана приятно удивит большим выбором свежей рыбы: сибас, барамуди, дорадо, ред снеппер, пятнистый окунь, стерлядь, золотой люциан, тюрбо, камбала, пагр, попугай и даже черная треска. В аквариумах – лобстеры, омары, камчатские крабы, морские гребешки. Выбранную рыбу приготовят по желанию гостя: на гриле, на углях, в соли, на пару, и даже в банановых листьях.</p>
            </div>
            <div class="container-image">
                <img src="{{ url_for('static', filename='index-img.png') }}">
            </div>
    </div>
    <div class="helper" ></div>
    <h3>Наши самые популярные блюда</h3>
   <div class="slideshow-container">

<div class="mySlides fade" style="display: block">
  <div class="numbertext">1 / 6</div>
  <img src="{{ url_for('static', filename='lobster.jpg') }}" style="width:100%">
  <div class="text">Королевский лобстер</div>
</div>

<div class="mySlides fade" >
  <div class="numbertext">2 / 6</div>
  <img src="{{ url_for('static', filename='krevetki.jpg') }}" style="width:100%">
  <div class="text">Креветки от щедроты душевной</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 6</div>
  <img src="{{ url_for('static', filename='tutifruti.jpg') }}" style="width:100%">
  <div class="text">Спагетти «Фрутти ди Маре»</div>
</div>
<div class="mySlides fade">
  <div class="numbertext">4 / 6</div>
  <img src="{{ url_for('static', filename='krab.jpg') }}" style="width:100%">
  <div class="text">Краб-кейк с домашним чили-майонезом</div>
</div>
<div class="mySlides fade">
  <div class="numbertext">5 / 6</div>
  <img src="{{ url_for('static', filename='Tomahawk.jpg') }}" style="width:100%">
  <div class="text">Стейк "Томагавк" из тунца</div>
</div>
<div class="mySlides fade">
  <div class="numbertext">6 / 6</div>
  <img src="{{ url_for('static', filename='osminog.jpg') }}" style="width:100%">
  <div class="text">Осьминог на гриле с овощами и соусом кимчи</div>
</div>

</div>
<br>
    <div class="helper" ></div>
<div class="delivery-container">

                <h1>Заказать доставку</h1>


            <div class="delivery-container-cells_1">
                <img class="img-delivery" src="{{ url_for('static', filename='delivery1.png') }}">
                <h2>Быстрая доставка</h2>
            </div>

            <div class="delivery-container-cells_1">
                 <img class="img-delivery" src="{{ url_for('static', filename='delivery2.png') }}">
                 <h2>Готовим сразу после вашего заказа</h2>
            </div>

            <div class="delivery-container-cells_2">
                 <img class="img-delivery" src="{{ url_for('static', filename='delivery3.png') }}">
                <h2>Только свежие продукты</h2>
            </div>

            <div class="delivery-container-cells_2">
                 <img class="img-delivery" src="{{ url_for('static', filename='delivery4.png') }}">
                <h2>Блюда приезжают к вам горячие</h2>
            </div>


</div>
<div style="width:100%; height:1px; clear:both;"></div>
    <div class="container-button">
        <button class="delivery-button">Заказать</button>
    </div>


<!-- Main body -->

{% include 'footer.html' %}
</body>
</html>